PORT='8000'

APP_URL='http://localhost:3000'

DATABASE_URL=''
SALT_ROUNDS='12'

JWT_SECRET=''
JWT_EXPIRES_IN=''

RESEND_API_KEY=''

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

GOOGLE_CLIENT_ID=''